<div class='container'>
  <h1>Marvin Dang</h1>
  <h2>Software Engineer</h2>
  <p>I like cats, coffee, and Soylent. Biomedical Engineer turned 
  keyboard wizard on a boundless quest for knowledge and wisdom.</p>

  <br />

  <a href="https://www.linkedin.com/in/marvin-dang/" target="_blank">
    <%=image_tag("linkedin_icon.png") %></a>
  <a href="https://github.com/marvinTD" target="_blank">
    <%=image_tag("github_icon.png") %></a>
  <a href="https://docs.google.com/document/d/1fpm1Uuh_zJxvrCeDk1Iq2qlk4ASOI0LqoUK_AyfKYtM/edit?usp=sharing" target="_blank">
    <%=image_tag("resume_icon.png") %></a>

</div>
